.FeedbackBar {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    z-index: 100; 
    background-color: rgb(14, 14, 53, 0.9);
    border-top: solid white 2px;
}

.FeedbackBar Button, .NavBar Button {
    border-radius: 100px;
    border: white solid 2px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    color: white;
    margin: 10px 0 10px 0;
}

#correct {
    border: green solid 2px;
}
#wrong {
    border: red solid 2px;
}